<div class="cover">
  <h1>DIGITE SEU CEP</h1>
  <form class="flex-form" (submit)="search()">
    <label for="from">
      <i class="ion-location"></i>
    </label>
    <input
      type="search"
      placeholder="CEP"
      [(ngModel)]="cep"
      name="cep"
      required
    />
    <input type="submit" value="Search" />
  </form>
  <div id="madeby">
    <span> By Felipe Santos</span>
  </div>
  <div *ngIf="cepData" class="address">
    <p><strong>Logradouro:</strong> {{ cepData.logradouro }}</p>
    <p><strong>Bairro:</strong> {{ cepData.bairro }}</p>
    <p><strong>Localidade:</strong> {{ cepData.localidade }}</p>
    <p><strong>UF:</strong> {{ cepData.uf }}</p>
  </div>
</div>
